{
  "openapi": "3.1.0",
  "info": {
    "title": "The Grand LB API",
    "version": "1.1.0",
    "description": "Public and internal endpoints for The Grand Long Beach event venue. Public endpoints require no auth. Analytics endpoints require a Bearer token (set ANALYTICS_READ_TOKEN in Vercel env).",
    "contact": {
      "name": "The Grand LB",
      "url": "https://thegrandlb.com/contact"
    }
  },
  "servers": [{ "url": "https://thegrandlb.com" }],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/api/menus": {
      "get": {
        "operationId": "listMenus",
        "summary": "List catering menus",
        "description": "Returns the catalog of catering menus available at the venue.",
        "responses": {
          "200": {
            "description": "A list of menus.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "venue": { "type": "string" },
                    "count": { "type": "integer" },
                    "menus": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uid": { "type": "string" },
                          "title": { "type": "string" },
                          "url": { "type": "string", "format": "uri" },
                          "json": { "type": "string", "format": "uri" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/menus/{uid}": {
      "get": {
        "operationId": "getMenu",
        "summary": "Get a single catering menu",
        "description": "Returns the full content of one catering menu, including groups, sections, items, and per-person pricing.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Menu identifier.",
            "schema": {
              "type": "string",
              "enum": ["classic", "weddings", "corporate", "milestones"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The menu content.",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "404": { "description": "Menu not found." }
        }
      }
    },
    "/api/analytics": {
      "get": {
        "operationId": "queryAnalytics",
        "summary": "Query analytics events",
        "description": "Returns analytics data from the events database. Use the `q` parameter to select which dataset to return.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Query type.",
            "schema": {
              "type": "string",
              "enum": ["events", "event_counts", "daily", "inquiry_funnel", "agent_activity", "phone_clicks"],
              "default": "events"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Lookback window in days (max 90, default 30).",
            "schema": { "type": "integer", "default": 30 }
          },
          {
            "name": "event_name",
            "in": "query",
            "required": false,
            "description": "Filter by event name (used with q=events and q=daily).",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max rows to return for q=events (max 500, default 100).",
            "schema": { "type": "integer", "default": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Query results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing or invalid Bearer token." }
        }
      }
    }
  }
}
