// Load Group 1
@include keyframes(animate-in) {
  0%,
  33% {
    opacity: 0;
    transform: translateY(-2rem);
    @include prefix(
      (
        transform: translateY(-2em)
      ),
      webkit moz ms o
    );
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
    @include prefix(
      (
        transform: translateY(0em)
      ),
      webkit moz ms o
    );
  }
}

.page-header,
.page-hero--buttons,
.page-header--lower,
.section,
.page-image-full {
  transform-style: preserve-3d;
  animation-direction: forward;
  animation: animate-in 0.5s $easeOutCubic;
  will-change: transform, opacity;
}

// Load Group 2
@include keyframes(animate-perspective-in) {
  0%,
  33% {
    opacity: 0;
    @include prefix(
      (
        transform: translateY(-2rem) rotateX(10deg) rotateY(10deg)
          translateZ(20px) scale(0.9)
      ),
      webkit moz ms o
    );
  }
  100% {
    opacity: 1;
    @include prefix(
      (
        transform: translateY(0rem) rotateX(0deg) rotateY(0deg) translateZ(20px)
          scale(0.9)
      ),
      webkit moz ms o
    );
  }
}

.page-hero--wrap,
.page-hero {
  @include prefix(
    (
      transform-style: preserve-3d
    ),
    webkit moz ms o
  );
  @include prefix(
    (
      perspective: 100rem
    ),
    webkit moz ms o
  );
  @include prefix(
    (
      backface-visibility: hidden
    ),
    webkit moz ms o
  );
}
.page-hero--headline {
  @include prefix(
    (
      transform-style: preserve-3d
    ),
    webkit moz ms o
  );
  @include prefix(
    (
      transform: translateY(0rem) rotateX(0deg) rotateY(0deg) translateZ(20px)
        scale(0.9)
    ),
    webkit moz ms o
  );
  animation-direction: forward;
  animation: animate-perspective-in 1s $easeOutCubic 0s;
  will-change: transform, opacity;
  transform-origin: center;
}

// Load Group 3
@include keyframes(animate-perspective-scale-in) {
  0% {
    @include prefix(
      (
        transform: scale(1.2) rotateX(5deg) rotateY(5deg)
      ),
      webkit moz ms o
    );
  }
  100% {
    @include prefix(
      (
        transform: scale(1) rotateX(0deg) rotateY(0deg)
      ),
      webkit moz ms o
    );
  }
}

.page-hero--wrap,
.page-hero,
.page-image-full {
  @include prefix(
    (
      transform-style: preserve-3d
    ),
    webkit moz ms o
  );
  @include prefix(
    (
      perspective: 100rem
    ),
    webkit moz ms o
  );
  @include prefix(
    (
      backface-visibility: hidden
    ),
    webkit moz ms o
  );
}

.page-hero .img,
.page-hero video,
.page-image-full .img,
.page-image-full video {
  @include prefix(
    (
      transform-style: preserve-3d
    ),
    webkit moz ms o
  );
  animation-direction: forward;
  animation: animate-perspective-scale-in 3s $easeOutCubic;
  will-change: transform, opacity;
  transform-origin: center;
}
