
.carousel {
  margin-top: 2rem;

  @include solid-breakpoint(sm) {
    margin-top: 6rem;
  }
}

.carousel {
  position: relative;

  .flickity-button {
    // background-color: rgba(red, .5);
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    width: 10vw;
    top: 0;
    bottom: 2rem;
    @include carousel-button-offset(-0.9rem);

    @include solid-breakpoint(sm) {
      top: -3rem;
      bottom: 3rem;
      @include carousel-button-offset(calc(-5vw + 1rem));
    }

    @include solid-breakpoint(md) {
      bottom: 5rem;
    }

    @include solid-breakpoint(lg) {
      bottom: 5rem;
    }

    @include solid-breakpoint(xl) {
      @include carousel-button-offset(calc(-10vw + 3rem));
    }

    @include solid-breakpoint(xxl) {
      @include carousel-button-offset(calc(-12vw + 4rem));
    }

    @include solid-breakpoint(xxxl) {
      @include carousel-button-offset(calc(-15vw + 5rem));
    }

    &:hover {
      &.previous:after, &.next:after  {
        width: 10vw;
        min-width: 6rem;
      }

      &.previous  {
        &:after, &:before { left: 1.5rem; }
      }

      &.next  {
        &:after, &:before { right: 1.5rem; }
      }
    }

    &[disabled], .flickity-button-icon {
      opacity: 0;
      visibility: hidden;
    }

    &.previous, &.next {
      &:after, &:before {
        content: "";
        position: absolute;
        transition: all .3s $easeOutCubic;
      }
    }

    &.previous, &.next  {
      &:after {
        height: 2px;
        width: 4vw;
        min-width: 3rem;
        background-color: $white;
        top: 50%;
      }

      &:before {
        height: 1rem;
        width: 1rem;
        top: calc(50% - (.5rem - 1px));
        background-color: transparent;
        border-left-width: 2px;
        border-left-color: $white;
        border-left-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: $white;
        border-bottom-style: solid;
      }
    }

    &.previous  {
      &:after {
        left: 2rem;
      }

      &:before {
        left: 2rem;
        transform: rotate(45deg);
      }
    }

    &.next  {
      &:after {
        right: 2rem;
      }

      &:before {
        right: 2rem;
        transform: rotate(-135deg);
      }
    }
  }

  .flickity-page-dots {
    list-style: none;
    display: flex;
    height: 6px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: 0;

    @include solid-breakpoint(sm) {
      margin-top: 4.5rem;
    }

    @include solid-breakpoint(md) {
      margin-top: 5rem;
    }

    @include solid-breakpoint(lg) {
      margin-top: 5rem;
    }

    .dot {
      height: 2px;
      width: 2rem;
      margin: 0 .25rem;
      background-color: rgba($grandBlack, .1);
      transition: all .3s $easeOutCubic;
      cursor: pointer;



      &.is-selected {
        height: 4px;
        width: 3rem;
        background-color: rgba($grandRed, 1);
      }

      &:hover {
        height: 6px;
        width: 3rem;
        // background-color: rgba($grandBlack, .5);
      }
    }
  }
}

.carousel-slide {
  width: calc(100vw - 1.25em);
  height: 50vw;
  min-height: 400px;
  background: #222;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-top .3s $easeOutCubic, height .3s $easeOutCubic;
  margin: 0 0.5rem;
  border-radius: $border-radius;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @include solid-breakpoint(sm) {
    width: 80vw;
    height: 50vw;
    min-height: 50vw;
  }

  @include solid-breakpoint(lg) {
    width: 80vw;
    height: 40vw;
    min-height: 40vw;
  }

  &.is-selected {

    @include solid-breakpoint(sm) {
      margin-top: -3rem;
      height: calc(50vw + 6rem);
    }

    @include solid-breakpoint(lg) {
      margin-top: -3rem;
      height: calc(40vw + 6rem);
    }

    .caption {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .caption {
    position: absolute;
    bottom: 2em;
    left: 2.5em;
    color: $white;
    font-size: $text-6;
    opacity: 0;
    transform: translateY(1em);
    transition: all .75s $easeOutCubic .5s;
    text-shadow: 0 0 30px rgba($black, 1);

    a {
      text-decoration: underline;
    }

    & > p, a {
      color: $white;
    }
  }
}

.carousel.is-fullscreen .carousel-slide {
  height: 100vh;
  width: 100vw;
}


.carousel-reviews {
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include solid-breakpoint(sm) {
    margin-top: 0;
  }

  .carousel-slide {
    width: calc(100vw - 1.25em);
    height: auto;
    min-height: auto;
    background-color: white;
    border: solid 8px $grandSilver;
    padding: 25px 25px;
    margin: 0 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    transition: border .75s $easeOutCubic .15s;

    &:active {
      cursor: grabbing;
    }

    @include solid-breakpoint(sm) {
      width: 50vw;
      height: auto;
      min-height: auto;
      padding: 30px 40px;
    }

    @include solid-breakpoint(lg) {
      width: 40vw;
      padding: 45px 60px;
    }

    &.is-selected {
      border: solid 8px $grandPink;

      .star-group path {
        fill: #8A2432;
      }

      .review-lower--right p {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .review-upper {
      margin-bottom: 30px;
    }

    .review-lower {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      @include solid-breakpoint(sm) {
        flex-direction: row;
        align-items: center;
      }
    }

    .star-group path {
      transition: all .75s $easeOutCubic .15s;
    }

    .review-lower--right {
      display: flex;
      flex-direction: row-reverse;

      @include solid-breakpoint(sm) {
        flex-direction: row;
      }

      p {
        text-align: left;
        opacity: 0;
        transform: translateY(0.5em);
        transition: all .75s $easeOutCubic .15s;

        @include solid-breakpoint(sm) {
          text-align: right;
        }

        a {
          text-decoration-line: underline;
        }
      }
    }

    .review-lower--avatar {
      border-radius: 50%;
      margin-right: 15px;

      @include solid-breakpoint(sm) {
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }

  .flickity-viewport {
    &:before, &:after {
      content: "";
      position: absolute;
      font-size: 434.9px;
      font-family: $serif;
      color: rgba($grandPink, .5);
      z-index: -1;
    }

    &:before {
      content: "“";
      top: -160px;
      left: -50px;

      @include solid-breakpoint(sm) {
        left: 20vw;
      }
    }

    &:after {
      content: "”";
      bottom: calc(-405px);
      right: -50px;

      @include solid-breakpoint(sm) {
        right: 20vw;
      }
    }
  }
}
