.fieldset {
  padding: 0 $space-1;
}

.fieldset {
  position: relative;

  .form-label {
    color: $grandRed;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0.9rem;
    margin-bottom: -1.25rem !important;
    position: relative;
    z-index: 6;

    @include solid-breakpoint(md) {
      font-size: 0.85rem;
      margin-bottom: -1.35rem !important;
    }
  }

  input,
  .text-input,
  select,
  .select {
    outline: none !important;
    color: $black;
    font-size: 1.25rem !important;
    width: 100%;
    position: relative;
    padding: 0 1rem !important;
    padding-top: 0.5em !important;
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
    height: 4.875rem !important;
    border: none !important;
    border-bottom-width: 0px !important;
    border-bottom-color: transparent !important;
    border-bottom-style: solid !important;
    z-index: 5;

    transition: border-bottom-width 0.3s $easeOutCubic;

    @include solid-breakpoint(md) {
      font-size: 1.5rem !important;
    }

    &::placeholder {
      font-size: 1.25rem !important;

      @include solid-breakpoint(md) {
        font-size: 1.5rem !important;
      }
    }

    &:focus,
    &:hover {
      border-bottom-width: 4px !important;
      border-bottom-color: $grandRed !important;
    }
  }
}

select:invalid,
input::-webkit-input-placeholder {
  color: rgba($black, 0.1) !important;
}

fieldset.field-error {
  input,
  .text-input,
  select,
  .select {
    background-color: $grandPink !important;
  }
}

.form-feedback {
  position: absolute;
  top: 0.6rem;
  right: 1.25rem;
  z-index: 10;

  h6 {
    font-size: 0.6rem;
    color: $grandRed;
  }
}
