/**
 * Nav Main
 */

 .home {
   .nav {
     @include nav-color($grandBabyBlue)
   }
 }


// ******
// nav styles
.nav {
  position: fixed;
  width: 100vw;
  z-index: 30;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    opacity: 0;
    top: -110%; right: 0; bottom: 0; left: 0;
    transition: top .5s $easeOutCubic, opacity .3s $easeOutCubic;
    background-color: $white;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.025);
  }

  a, path {
    transition: all .3s $easeOutCubic;
  }

  .wrapper {
    position: relative;
    z-index: 30;

    @include solid-breakpoint(md) {
      display: flex;
      justify-content: space-between;
    }
  }

  &--dark {
    @include nav-color($white)
  }

  &--light {
    @include nav-color($black)
  }

  &--item {
    font-size: .9rem;
    letter-spacing: .12em;
    text-transform: uppercase;

    @include solid-breakpoint(lg) {
      font-size: 1rem;
    }

    .caret {
      transition: transform .3s $easeOutCubic;
      position: relative;
      display: inline-block;
      padding: 0 0.3rem;
      top: -0.2rem;
    }

    &--menu {
      position: absolute;
      margin-top: -0.35rem;
      padding-top: 1.5rem;
      z-index: -10;
      visibility: hidden;
      transition: opacity .3s linear;
      opacity: 0;

      & > div {
        opacity: 0;
        transform: translateX(.4em);
      }

      &--item {
        display: inline-block;
        padding: .45rem 0;
      }
    }
  }

  &--left, &--right {
    display: none;
    transition: padding-top .3s $easeOutCubic;

    @include solid-breakpoint(md) {
      display: flex;
      padding-top: 3rem;
    }

    @include solid-breakpoint(lg) {
      padding-top: 3.75rem;
    }

    @include solid-breakpoint(xl) {
      padding-top: 4.5rem;
    }
  }

  &--left {
    .nav--item {
      margin-right: 2rem;
    }
  }

  &--right {
    .nav--item {
      margin-left: 2rem;
    }
  }

  &--logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include solid-breakpoint(md) {
      display: block;
    }

    .logo {
      position: relative;
      z-index: 35;

      &--link {
        position: absolute;
        top: 0; right: 0; bottom: 2.5em; left: 0;

        @include solid-breakpoint(md) {
          bottom: 3em;
        }

        @include solid-breakpoint(lg) {
          bottom: 5em;
        }
      }
    }

    .logo > svg {
      $logo-ratio: 0.4888888889;
      $top-ratio: 0.07547169811;
      @include logo-ratio($logo-ratio, 13.25rem, $top-ratio);
      transition: all .25s $easeOutCubic;

      @include solid-breakpoint(sm) {
        @include logo-ratio($logo-ratio, 18.25rem, $top-ratio);
      }

      @include solid-breakpoint(md) {
        @include logo-ratio($logo-ratio, 20rem, $top-ratio);
      }

      @include solid-breakpoint(lg) {
        $top-ratio: 0.08783783784;
        @include logo-ratio($logo-ratio, 25rem, $top-ratio);
      }

      @include solid-breakpoint(xl) {
        @include logo-ratio($logo-ratio, 30rem, $top-ratio);
      }
    }
  }
}

.nav--mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.55rem;

  @include solid-breakpoint(md) {
    display: none;
  }

  span {
    height: 0.125rem;
    width: 1.5rem;
    margin: 0.2125rem 0;
    background-color: $black;
    transition: opacity .15s $easeOutCubic, transform .35s $easeOutCubic;
    position: relative;

    &:nth-child(2) {
      &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        opacity: 0;
        transition: all .75s $easeOutCubic;
      }
    }
  }
}

.nav--mobile-menu--overlay {
  background-color: $white;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100vh;
  padding-top: 2rem;
  transition: opacity .15s linear, z-index .1s linear .3s;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include solid-breakpoint(md) {
    display: none;
    z-index: -9999 !important;
  }

  a {
    font-size: .9rem;
    letter-spacing: .12em;
    line-height: 1.75;
    text-transform: uppercase;
    color: $black !important;
    text-align: center;

    @include solid-breakpoint(lg) {
      font-size: 1rem;
    }
  }

  .links {
    &--section {
      margin: 1rem 0;
    }

    &--main {
      display: flex;
      flex-direction: column;

      a {
        margin: .65em 0;
      }
    }

    &--social {
      display: flex;

      a {
        margin: 0 1.5em;
      }
    }

    &--footer {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        margin: .45rem 0;
      }

      .address {


        a {
          display: flex;
          flex-direction: column;
          white-space: pre-wrap;
        }
      }
    }
  }
}

.mobile-nav-active {
  a { color: $black !important; }
  path { fill: $black !important; }

  .nav--mobile-menu {

    span:nth-child(1), span:nth-child(3) {
      opacity: 0;
      transform: scale(.5);
    }

    span:nth-child(1) {
      transform: translateY(-10px);
    }

    span:nth-child(2) {
      background-color: transparent !important;

      &:before, &:after {
        opacity: 1;
        background-color: $black;
      }

      &:before {
        transform: rotate(135deg);
      }

      &:after {
        transform: rotate(225deg);
      }
    }

    span:nth-child(3) {
      transform: translateY(10px);
    }
  }
}

.nav--mobile-menu {
  &.active {
    z-index: 50;
    position: relative;

    span {
      background-color: $black !important;
    }
  }
}

.nav--mobile-menu--overlay {
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.inquiry-page--close-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.55rem;

  position: absolute;
  top: .5rem;
  right: 2rem;
  z-index: 500;

  span {
    height: 0.125rem;
    width: 1.5rem;
    margin: 0.2125rem 0;
    background-color: transparent !important;
    transition: opacity .15s $easeOutCubic, transform .35s $easeOutCubic;
    position: relative;

    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-color: $black;
      transition: all .75s $easeOutCubic;
    }

    &:before {
      transform: rotate(135deg);
    }

    &:after {
      transform: rotate(225deg);
    }
  }
}


// ******
// nav-min effects
body.inquire, body.inquiredone, body.tourmap {
  .nav--mobile-menu {
    display: none;
    visibility: hidden;
  }
}

.nav--min, body.inquire, body.inquiredone, body.tourmap {

  .nav {

    &:before {
      top: -30%;
      opacity: 1;
      box-shadow: 0 20px 20px rgba(0,0,0, 0.025);
    }

    @include nav-color($black);

    &--left, &--right {

      @include solid-breakpoint(md) {
        padding-top: 1.5rem;
      }

      @include solid-breakpoint(lg) {
        padding-top: 2rem;
      }
    }

    .logo--link {
      position: absolute;
      top: 0; right: 0; bottom: 1em; left: 0;

      @include solid-breakpoint(md) {
        bottom: 2em;
      }

      @include solid-breakpoint(lg) {
        bottom: 2em;
      }
    }

    .logo > svg {
      $logo-ratio: 0.4888888889;
      $top-ratio: 0.07547169811;

      @include solid-breakpoint(md) {
        @include logo-ratio($logo-ratio, 13rem, $top-ratio);
      }

      @include solid-breakpoint(lg) {
        $top-ratio: 0.08783783784;
        @include logo-ratio($logo-ratio, 18rem, $top-ratio);
      }

      @include solid-breakpoint(xl) {
        @include logo-ratio($logo-ratio, 19rem, $top-ratio);
      }
    }
  }

  .nav--banner:not(.nav--banner--dismissed) {
    margin-top: calc(-4.3125rem - 2px);
  }
}


// ******
// nav--hover--active effects
.nav--hover-active {
  .nav {
    @include nav-color($black)
  }

  .nav--item {
    opacity: .5;
  }

  .nav--banner p, .nav--banner--close {
    // opacity: 0;
  }

  .nav--item-active {
    opacity: 1;

    .caret {
      transform: translateY(0.1em);
    }

    .nav--item--menu {
      display: block;
      visibility: visible;
      transition: opacity .3s linear .2s;
      opacity: 1;
      z-index: 5;

      & > div {
        @for $i from 1 through 30 {
          $offset: ($i * 0.05);

          &:nth-child(#{$i}) {
            opacity: 1;
            transform: translateX(0em);
            transition: all .3s $easeOutCubic #{$offset}s;
          }
        }
      }
    }
  }

  .nav--overlay {
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transition: opacity .15s linear .1s, z-index 0s linear 0s;
  }
}


// ******
// nav--overlay effects
.nav--overlay {
  $color: $white;
  $gradient: rgba($color, 1) 0%, rgba($color, .77) 50%, rgba($color, 0) 100%;
  @include gradient(to bottom, $gradient);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100vh;
  transition: opacity .15s linear, z-index .1s linear .3s;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}


.nav--banner {
  background-color: $grandBabyBlue;
  transition: margin-top .5s $easeOutCubic, height .5s $easeOutCubic, border-width .25s $easeOutCubic, background-color .25s $easeOutCubic;
  position: relative;
  width: 100%;
  height: 4.45rem;
  z-index: 9999;
  overflow: hidden;
  border-bottom: solid 2px $grandBlack;

  @include solid-breakpoint(sm) {
    height: 4.3125rem;
  }

  .wrapper {
    position: relative;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .1s linear;
    text-align: center;
    padding: 1.4rem 1rem 1.4rem;
    width: 85%;

    @include solid-breakpoint(sm) {
      width: 100%;
    }

    a {
      color: $grandBlack !important;
      text-decoration: underline;
    }
  }

  button {
    text-decoration: underline;
    text-align: left;
  }
}

.nav--banner--inner {
  padding-left: 2rem;
}

.nav--banner--inline {
  margin: 0 0.5rem 0.5rem !important;
  width: calc(100% - 1rem) !important;
  height: calc(0.4375rem + 5.45rem) !important;
  top: 0;
  position: relative;
  display: inline-block;
  border: solid 0.4375rem white;

  @include solid-breakpoint(sm) {
    height: calc(0.4375rem + 4.3125rem) !important;
  }

  p {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    font-size: 1.1rem;
    width: 85%;
    padding-left: 0;

    @include solid-breakpoint(sm) {
      width: 100%;
    }
  }

  .nav--banner--button {
    right: 0.85rem;
  }
}

.nav--banner--link {
  cursor: pointer;
  text-decoration: underline;
}

.nav--banner--confirm {
  border-color: #AFFFC6;
}

.nav--banner--dismissed {
  height: 0 !important;
  border-width: 0 !important;
}

.nav--banner--button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0.85rem;
  transition: opacity .1s linear;

  svg, path {
    fill: $black !important;
  }
}

.nav--banner--close {
  cursor: pointer;
}

.nav--banner--close-float {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 500;

  path {
    fill: #ffffff;
  }
}

.ReactModal__Overlay {
  $color: $grandBabyBlue;
  $gradient: rgba($color, 1) 0%, rgba($color, .77) 50%, rgba($color, 0) 100%;
  @include gradient(to bottom, $gradient);
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s $easeOutCubic;

  .nav--banner--close {
    top: 1.75rem;
    right: 1.75rem;
  }

  &--dark {
    $color: $grandBlack;
    $gradient: rgba($color, 1) 0%, rgba($color, .77) 50%, rgba($color, 0) 100%;
    @include gradient(to bottom, $gradient);
  }
}

.ReactModal__Content {
  transition: transform .5s $easeOutCubic, box-shadow 1s $easeOutCubic;
  transform: translateY(-250px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.ReactModal__Overlay--after-open{
  opacity: 1;

  .ReactModal__Content {
    transform: translateY(0px);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.13), 0px 4px 124px rgba(0, 0, 0, 0.08);
  }
}

.ReactModal__Overlay--before-close{
  opacity: 0;

  .ReactModal__Content {
    transform: translateY(-250px);
  }
}

.modal--inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px 25px;

  @include solid-breakpoint(md) {
    padding: 20px 50px 45px;
  }

  h6, p {
    text-align: center;
    padding-bottom: 30px;

    @include solid-breakpoint(md) {
      padding-bottom: 50px;
    }
  }
}
