@include header-color(tour, $grandCream);
@include header-color(events, $grandSilver);
@include header-color(menus, $grandPink);
@include header-color(about, $grandCream);
@include header-color(contact, $grandBabyBlue);


.section {
  padding: 2.25rem 0;
  margin: 2.25rem 0;

  @include solid-breakpoint(sm) {
    padding: 2.5rem 0;
    margin: 2.5rem 0;
  }

  @include solid-breakpoint(md) {
    padding: 3rem 0;
    margin: 3rem 0;
  }

  @include solid-breakpoint(lg) {
    padding: 4rem 0;
    margin: 4rem 0;
  }

  &--offset {
    padding-top: 20em;
  }
}


.page-header {
  padding-top: 7rem;
  margin-bottom: 9rem;
  background: $grandBabyBlue;
  transition: background .3s $easeOutCubic;

  @include solid-breakpoint(sm) {
    padding-top: 8rem;
    margin-bottom: 10rem;
  }

  @include solid-breakpoint(md) {
    padding-top: 16rem;
    margin-bottom: 12rem;
  }


  &--wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(4.33em);
  }

  &--lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: -3rem;
    margin-bottom: 3rem;

    @include solid-breakpoint(sm) {
      margin-top: -4rem;
      margin-bottom: 4rem;
    }

    @include solid-breakpoint(md) {
      margin-top: -5rem;
      margin-bottom: 5rem;
    }
  }

  &--eyebrow, &--headline, &--caption {
    text-align: center;
  }

  &--eyebrow {
    white-space: pre-wrap;
    margin-bottom: 1rem;
  }

  &--headline {
    white-space: pre-wrap;
  }

  &--caption {
    max-width: 26.875rem;
    font-size: 1.25em;
    margin: 1.5em 0 0;
  }
}

.page-image-full {
  height: calc(80vh - 3rem);
  max-height: 120vw;
  min-height: 40rem;
  width: 100vw;
  position: relative;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include solid-breakpoint(sm) {
    max-height: 100vw;
  }

  @include solid-breakpoint(lg) {
    max-height: 90vh;
  }

  .img {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background-color: rgba($black, .4);
    }
  }
}


.page-cta {
  height: calc(60vh);
  max-height: 100vw;
  width: 100vw;
  margin: 10em 0 10em;

  &:after {
    content: "";
    position: absolute;
    top: -2em;
    bottom: -2em;
    right: 2em;
    left: 2em;
    z-index: 0;
    background-color: rgba($grandPink, 1);
    mix-blend-mode: multiply;
    z-index: -1;

    @include solid-breakpoint(md) {
      top: -5em;
      bottom: -5em;
      right: 5vw;
      left: 5vw;
    }

    @include solid-breakpoint(xxxl) {
      top: -5em;
      bottom: -5em;
      right: 5vw;
      left: 5vw;
    }

    @include solid-breakpoint(xxxl) {
      top: -5em;
      bottom: -5em;
      right: 10vw;
      left: 10vw;
    }
  }

  &--inner, .img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &--inner {
    z-index: 5;
    position: relative;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
}



.page-hero {
  height: calc(100vh - 3rem);
  width: 100vw;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &--wrap {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &--headline, &--headline p {
    white-space: pre-wrap;
    text-align: center;
    color: $grandBabyBlue;
    margin-top: 0.3em;
  }

  &--buttons {
    margin-top: -2em;
    z-index: 5;
    position: relative;
  }
}

.page-feature {
  transition: transform .5s $easeOutCubic, opacity .2s linear;

  a {

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    opacity: .95;
    transform: translateY(-0.2rem);

    h1 {
      color: $grandRed;
    }

    .page-feature--lower-bar:after {
      bottom: -1em;
    }
  }
}

.page-feature {

  &--wrapper {
    margin-bottom: -$space-6;
  }

  &--lower-bar {
    padding-bottom: $space-6;
    margin-bottom: $space-6;
    position: relative;

    @include solid-breakpoint(md) {
      margin-bottom: 0;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: $grandRed;
      box-shadow: 0 -0.5em 0 $grandRed !important;
      left: calc(50% - 22px); right: calc(50% - 22px);
      bottom: 0.5em;
      width: 44px;
      height: 2px;
    }
  }
}

.divider-bar {
  position: relative;

  &--top {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;

    @include solid-breakpoint(sm) {
      padding-bottom: 1.75rem;
      margin-bottom: 1.75rem;
    }

    @include solid-breakpoint(md) {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }

    @include solid-breakpoint(lg) {
      padding-bottom: 2.25rem;
      margin-bottom: 2.25rem;
    }
  }

  &--bottom {
    padding-top: 1.25rem;
    margin-top: 1.25rem;

    @include solid-breakpoint(sm) {
      padding-top: 1.75rem;
      margin-top: 1.75rem;
    }

    @include solid-breakpoint(md) {
      padding-top: 2rem;
      margin-top: 2rem;
    }

    @include solid-breakpoint(lg) {
      padding-top: 2.25rem;
      margin-top: 2.25rem;
    }
  }

  // @include solid-breakpoint(md) {
  //   margin-bottom: 0;
  // }

  &:after {
    content: "";
    position: absolute;
    background-color: $grandRed;
    top: 0; bottom: 0;
    box-shadow: 0 -0.5em 0 $grandRed !important;
    left: calc(50% - 22px); right: calc(50% - 22px);
    width: 44px;
    height: 2px;
  }
}

.number-wrap {
  margin-top: 1rem;

  @include solid-breakpoint(md) {
    margin-top: 2rem;
  }

  @include solid-breakpoint(lg) {
    margin-top: 3rem;
  }
}

.number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0 1em;

  &--value {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  &--caption {
    margin-top: .3em;
    margin-bottom: 1em;
  }

  &--description {
    font-size: $text-6;
    line-height: 1.5;
    max-width: 18.75rem;
    color: rgba($black, .5);
  }

  h1, p {
    text-align: center;
  }
}


.menu-feature--wrap {
  margin-top: 2rem !important;

  @include solid-breakpoint(sm) {
    margin-top: 3rem !important;
  }

  @include solid-breakpoint(md) {
    margin-top: 4rem !important;
  }

  @include solid-breakpoint(lg) {
    margin-top: 5rem !important;
  }
}

.menu-feature {
  &--2 {
    img {
      @include solid-breakpoint(md) {
        transform: translateY(13rem);
      }
    }
  }
}


.events-feature {

  &--item {
    margin-bottom: 2rem;

    @include solid-breakpoint(md) {
      margin-bottom: 6rem;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      &:hover {
        &, h1, h2, h3, p {
          text-decoration: none !important;
        }
      }

      @include solid-breakpoint(md) {
        align-items: center;
        flex-direction: row;
      }
    }

    .events-feature--text {
      @include solid-breakpoint(md) {
        min-width: 20rem;
      }
    }
  }

  &--2 {

    a {
      @include solid-breakpoint(md) {
        flex-direction: row-reverse;
      }
    }

    h3, p {
      @include solid-breakpoint(md) {
        text-align: right;
      }
    }

    .events-feature--text {
      @include solid-breakpoint(md) {
        padding-right: 0;
        padding-left: 6em;
        width: 40rem;
      }
    }
  }

  &--3 {
    .events-feature--img {
      background-position: right;
    }
  }

  &--text {
    margin: 1.5rem 0;

    h3 {
      margin-bottom: 1rem;
      white-space: normal;
    }

    p {

    }

    @include solid-breakpoint(md) {
      padding-right: 3em;
    }
  }

  &--img {
    height: 60vw;
    width: calc(100vw - 2rem);
    position: relative;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;

    @include solid-breakpoint(md) {
      max-height: 600px;
      max-width: 700px;
    }
  }
}


.segue-card {
  background-size: cover;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba($black, .33);
    z-index: 0;
  }

  & > a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 45vh;
    min-height: 31rem;
    max-height: 120vw;
    padding: 4rem 2rem 2rem;
    position: relative;
    z-index: 5;

    &:hover {
      &, * {
        text-decoration: none !important;
      }
    }

    @include solid-breakpoint(sm) {
      max-height: 100vw;
    }

    @include solid-breakpoint(md) {
      padding: 5rem 4rem 0;
    }

    @include solid-breakpoint(lg) {
      max-height: 90vh;
    }
  }

  &--text {
    color: $white;
    max-width: 12em;
    margin-bottom: 2em;

    @include solid-breakpoint(md) {
      max-width: 16em;
      margin-bottom: 4em;
    }

    & > * {
      color: $white;
    }
  }

  &--button-wrap {
    @include solid-breakpoint(md) {
      margin-bottom: -2rem;
    }
  }
}

.page-statement {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
}


.page-list {
  margin-top: -4rem !important;
  position: relative;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;

  @include solid-breakpoint(sm) {
    padding-bottom: 1.75rem;
    margin-bottom: 1.75rem;
  }

  @include solid-breakpoint(md) {
    margin-top: -6rem !important;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  @include solid-breakpoint(lg) {
    padding-bottom: 2.25rem;
    margin-bottom: 2.25rem;
  }

  .hash-item {
    margin-top: 8rem !important;
  }
}

.hash-item {
  display: flex;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  position: relative;
  margin-top: calc(1.5rem + 44px);

  &:after {
    content: "";
    position: absolute;
    background-color: $grandRed;
    top: calc(-1.5rem - 44px); bottom: 0;
    left: calc(50% - 1px); right: calc(50% - 1px);
    width: 2px;
    height: 44px;
    transition: height .4s $easeOutCubic, top .4s $easeOutCubic;
  }
}


.menu-list {
  &--item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    @include solid-breakpoint(md) {
      margin-bottom: 4rem;
    }

    @include solid-breakpoint(lg) {
      margin-bottom: 6rem;
    }

    &--inner {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($grandSilver, 1);
      height: 25rem;
      width: 20rem;
      padding: 0 3rem;
      transition: background-color .2s linear;

      @include solid-breakpoint(md) {
        height: 25rem;
        min-width: 20rem;
        padding: 0 4rem;
      }

      @include solid-breakpoint(lg) {
        height: 35rem;
        min-width: 25rem;
        padding: 0 4rem;
      }

      &:hover {
        background-color: rgba($grandSilver, .5);
        transition: background-color .2s linear;

        &, * {
          text-decoration: none !important;
        }

        .hash-item {
          &:after {
            top: calc(-1.5rem - 55px);
            height: 66px;
          }
        }
      }
    }
  }
}



.inquire-page {

  &--index {
    display: flex;
    padding-bottom: 1.5rem;

    span {
      padding: 0 0.75rem;
    }
  }

  &--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
  }

  &--body {
    display: block;
  }

  &--footer {
    display: flex;
    justify-content: space-between;

  }
}
