// https://www.tutorialspoint.com/css/css_print_references.htm
// https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/
@media screen {
  .only-print {
    display: none;
  }
}

@media print {
  .footer--upper,
  .nav--left, .nav--right,
  .nav--mobile-menu {
    display: none;
  }

  .nav {
    position: absolute;

    &:before {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    &--logo {
      justify-content: center;

      .logo > svg {
        width: 16rem !important;
        margin-top: 2rem;
      }
    }
  }

  .footer {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    page-break-before: always;
  }

  .page-header {
    padding-top: 35vh;
    margin-bottom: 50vh;

    &--wrap {
      transform: translateY(5.33em);
    }

    &--headline {
      font-size: 5.15em !important;
    }

    .print {
      position: absolute;
      width: 100vw;
      height: 60vh;
      bottom: 0; left: 0;
      z-index: -1;
    }

    &:after {
      content: "www.thegrandlb.com";
      position: absolute;
      bottom: -36vh;
      width: 100%;
      text-align: center;
    }
  }

  .menusclassic .page-header,
  .menusweddings .page-header,
  .menusbusiness .page-header,
  .menusmilestones .page-header {

    &:before {
      content: "Add 22% production fee and applicable sales tax to all menus";
      position: absolute;
      bottom: -40vh;
      width: 100%;
      text-align: center;
    }
  }

  .menu--wrap {
    page-break-before: always;
  }

  .menu--header {
    margin-top: 3rem;
  }

  .table--row p {
    orphans: 0;
  }

  .menu--section {
    padding: 2rem 0 0;
  }

  #live-cooking-stations, #say-i-do-specials {
    page-break-before: always;
  }

  .menu--wrap {
    padding-bottom: 2rem;
  }

  .menu--section--header {
    padding-bottom: 1rem;
    page-break-inside: avoid;
  }

  .menu--table--item {
    padding: 0.55rem 0;
    // page-break-before: avoid;
    page-break-inside: avoid;
  }

  // .print-footer {
  //   position: fixed;
  //   display: table-footer-group;
  //   bottom: 0;
  //   // transform: translateY(-60px);
  //   color: lighten($black, 75%);
  //   font-size: $text-6;
  //   // display: flex !important;
  //   align-items: center;
  //   justify-content: center;
  //   width: 100%;
  //   padding: 0 0;
  // }
}

@media print {
  body {
    width: 100%;
    font-size: 10pt !important;
  }

  .no-print {
    display: none !important;
  }
  .only-print {
    display: block;
  }
}
