@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
}

@media print {
  html,
  body {
    font-size: 11px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.grid-inset {
  @apply px-4 md:px-8 xl:px-16;
}

.grid-inset-left {
  @apply pl-4 md:pl-8 xl:pl-16 !pr-0 md:!pr-0 xl:!pr-0;
}

.grid-inset-right {
  @apply pr-4 md:pr-8 xl:pr-16 !pl-0 md:!pl-0 xl:!pl-0;
}

.ticker {
  @apply flex !overflow-visible;
}

.animate_ticker p {
  @apply !mb-1;
}

.animate_ticker_reverse p {
  @apply !mb-1;
}

.animate_ticker {
  animation: ticker var(--ticker-speed, 100s) linear infinite;
  will-change: transform;
}

.animate_ticker_reverse {
  animation: ticker var(--ticker-speed, 100s) linear infinite;
  animation-direction: reverse;
  will-change: transform;
}

.ticker-mask {
  --maskSpacing: 10%;
  mask-image: linear-gradient(90deg,
      transparent,
      #000 var(--maskSpacing),
      #000 calc(100% - var(--maskSpacing)),
      transparent);
}

@media (min-width: 2500px) {
  .overflow-mask {
      --maskSpacing: 5%;
      mask-image: linear-gradient(90deg,
          transparent,
          #000 var(--maskSpacing),
          #000 calc(100% - var(--maskSpacing)),
          transparent);
    }
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(var(--ticker-width, -50vw));
  }
}

body {
  /* large spacer */
  --space-lg-3xl: 7vw;
  --space-lg-xl: 7vw;
  --space-lg-lg: 6vw;
  --space-lg: 5vw;
  /* medium spacer */
  --space-md-3xl: 4vw;
  --space-md-xl: 4vw;
  --space-md-lg: 3vw;
  --space-md: 2vw;
  /* default spacer */
  --space-md-lg: 1.5rem;
  --space-md: 1rem;
}

/* .mask-text {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */

.clip-text {
  /*
  Ensure background is added first
  */
  background: linear-gradient(to bottom, #eee, rgba(222, 112, 6, 0.2), #de7006), var(--clip-image, "");

  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.padding-bottom-lg {
  @apply pb-[var(--space-lg)] lg:pb-[var(--space-lg-lg)] xl:pb-[var(--space-lg-xl)] 3xl:pb-36;
}

.padding-bottom-md {
  @apply pb-[var(--space-md)] lg:pb-[var(--space-md-lg)] xl:pb-[var(--space-md-xl)];
}

.padding-bottom {
  @apply pb-[var(--space-md)] lg:pb-[var(--space-md-lg)];
}

.padding-top-lg {
  @apply pt-[var(--space-lg)] lg:pt-[var(--space-lg-lg)] xl:pt-[var(--space-lg-xl)] 3xl:pt-36;
}

.padding-top-md {
  @apply pt-[var(--space-md)] lg:pt-[var(--space-md-lg)] xl:pt-[var(--space-md-xl)];
}

.padding-top {
  @apply pt-[var(--space-md)] lg:pt-[var(--space-md-lg)];
}

.padding-left-lg {
  @apply pl-[var(--space-lg)] lg:pl-[var(--space-lg-lg)] xl:pl-[var(--space-lg-xl)] 3xl:pl-36;
}

.padding-left-md {
  @apply pl-[var(--space-md)] lg:pl-[var(--space-md-lg)] xl:pl-[var(--space-md-xl)];
}

.padding-left {
  @apply pl-[var(--space-md)] lg:pl-[var(--space-md-lg)];
}

.padding-right-lg {
  @apply pr-[var(--space-lg)] lg:pr-[var(--space-lg-lg)] xl:pr-[var(--space-lg-xl)] 3xl:pr-36;
}

.padding-right-md {
  @apply pr-[var(--space-md)] lg:pr-[var(--space-md-lg)] xl:pr-[var(--space-md-xl)];
}

.padding-right {
  @apply pr-[var(--space-md)] lg:pr-[var(--space-md-lg)];
}

.margin-bottom-lg {
  @apply mb-[var(--space-lg)] lg:mb-[var(--space-lg-lg)] xl:mb-[var(--space-lg-xl)] 3xl:mb-36;
}

.margin-bottom-md {
  @apply mb-[var(--space-md)] lg:mb-[var(--space-md-lg)] xl:mb-[var(--space-md-xl)];
}

.margin-bottom {
  @apply mb-[var(--space-md)] lg:mb-[var(--space-md-lg)];
}

.margin-top-lg {
  @apply mt-[var(--space-lg)] lg:mt-[var(--space-lg-lg)] xl:mt-[var(--space-lg-xl)] 3xl:mt-36;
}

.margin-top-md {
  @apply mt-[var(--space-md)] lg:mt-[var(--space-md-lg)] xl:mt-[var(--space-md-xl)];
}

.margin-top {
  @apply mt-[var(--space-md)] lg:mt-[var(--space-md-lg)];
}

.gap-space-lg {
  @apply gap-x-[var(--space-lg)] lg:gap-x-[var(--space-lg-lg)] xl:gap-x-[var(--space-lg-xl)] 3xl:gap-x-36;
}

.gap-space-md {
  @apply gap-x-[var(--space-md)] lg:gap-x-[var(--space-md-lg)] xl:gap-x-[var(--space-md-xl)];
}

.gap-space {
  @apply gap-x-[var(--space-md)] lg:gap-x-[var(--space-md-lg)];
}

.gap-y-lg {
  @apply gap-y-[var(--space-lg)] lg:gap-y-[var(--space-lg-lg)] xl:gap-y-[var(--space-lg-xl)];
}

.gap-y-md {
  @apply gap-y-[var(--space-md)] lg:gap-y-[var(--space-md-lg)] xl:gap-y-[var(--space-md-xl)];
}

.gap-y {
  @apply gap-y-[var(--space-md)] lg:gap-y-[var(--space-md-lg)];
}

.inset-grid-gutter {
  --inset: 1rem;
}

@media (min-width: 1024px) {
  .inset-grid-gutter {
    --inset: 1.5rem;
  }
}

.header-height {
  --header-height: 4.75rem;
}

@media (min-width: 1280px) {
  .header-height {
    --header-height: 9rem;
  }
}

.noise {
  @apply absolute opacity-[0.05] inset-0 w-full h-full;
  background: url('https://images.prismic.io/the-grand/356af45d-3339-4213-a793-db40e61dfa99_noise.png?auto=compress,format');
  opacity: 0.1;
  animation: noise 2s steps(3) infinite both;
  pointer-events: none;
  will-change: auto;
  z-index: 9999;
  background-repeat: repeat;
  background-position: center;
}

@keyframes noise {
  0% { background-position: 1% 1%; }
  10% { background-position: -5% -2%; }
  20% { background-position: 10% 5%; }
  30% { background-position: 5% -11%; }
  40% { background-position: -12% -5%; }
  50% { background-position: 10% 9%; }
  60% { background-position: 15% 0%; }
  70% { background-position: -10% 8%; }
  80% { background-position: 10% 2%; }
  90% { background-position: 1% 5%; }
  100% { background-position: 0% 8%;}
}

@media (hover: hover) {
  .hover-black-text {
    @apply hover:text-black
  }
}

@media (hover: none) {
  .hover-black-text {
    @apply text-black
  }
}

