@font-face {
  font-family: 'Neutraface2TextBook';
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/hinted-Neutraface2Text-Book.eot?') format('eot'),
    url('/fonts/hinted-Neutraface2Text-Book.woff2') format('woff2'),
    url('/fonts/hinted-Neutraface2Text-Book.woff') format('woff'),
    url('/fonts/hinted-Neutraface2Text-Book.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Neutraface2TextDemi';
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/hinted-Neutraface2Text-Demi.eot?') format('eot'),
    url('/fonts/hinted-Neutraface2Text-Demi.woff2') format('woff2'),
    url('/fonts/hinted-Neutraface2Text-Demi.woff') format('woff'),
    url('/fonts/hinted-Neutraface2Text-Demi.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'MajestiBannerBook';
  font-display: auto;
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/hinted-MajestiBanner-BookItalic.eot?') format('eot'),
    url('/fonts/hinted-MajestiBanner-BookItalic.woff2') format('woff2'),
    url('/fonts/hinted-MajestiBanner-BookItalic.woff') format('woff'),
    url('/fonts/hinted-MajestiBanner-BookItalic.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'MajestiBannerBook';
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/hinted-MajestiBanner-Book.eot?') format('eot'),
    url('/fonts/hinted-MajestiBanner-Book.woff2') format('woff2'),
    url('/fonts/hinted-MajestiBanner-Book.woff') format('woff'),
    url('/fonts/hinted-MajestiBanner-Book.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'MajestiBanner';
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/hinted-MajestiBanner-Medium.eot?') format('eot'),
    url('/fonts/hinted-MajestiBanner-Medium.woff2') format('woff2'),
    url('/fonts/hinted-MajestiBanner-Medium.woff') format('woff'),
    url('/fonts/hinted-MajestiBanner-Medium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'MajestiBanner';
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/hinted-MajestiBanner-MediumItalic.eot?') format('eot'),
    url('/fonts/hinted-MajestiBanner-MediumItalic.woff2') format('woff2'),
    url('/fonts/hinted-MajestiBanner-MediumItalic.woff') format('woff'),
    url('/fonts/hinted-MajestiBanner-MediumItalic.ttf') format('truetype');
  font-display: swap;
}
